{% extends "rich_page/base.html" %}
{% load i18n cms_tags thumbnail menu_tags %}

{% block body_class %}tpl-sidebar-right{% endblock %}

{% block richpage_content %}
<div class="row blog-list">
    <div class="medium-17 column">
        
        
        {% if request.current_page.get_title_obj.richpage %}
            <h1>{% render_model request.current_page "title" "title,menu_title" %}</h1>

            {% if request.current_page.get_title_obj.richpage.key_visual_id %}<p class="blog-visual"><img src="{% thumbnail request.current_page.get_title_obj.richpage.key_visual 660x200 crop subject_location=request.current_page.get_title_obj.richpage.key_visual.subject_location %}" alt="" /></p>{% endif %}
            
            <p>
            <h3>{% render_model request.current_page.get_title_obj.richpage "lead_in" %}</h3>
            <p>{% render_model request.current_page.get_title_obj.richpage "body" %}</p>
            
            <div class="row">
            {% if request.current_page.richslideshow %}
                {% with 660 as width %}{% render_placeholder request.current_page.get_title_obj.richpage.slideshow %}{% endwith %}
            {% endif %}
            </div>

        {% endif %}
    </div>
    <aside class="medium-7 column sidebar">
        
    </aside>
</div>
{% endblock richpage_content %}